.login-container {
    background: linear-gradient(90deg, #8ef693 0%, #26A69A 100%);
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 350px;
}

.login-title h1{
  text-align: center;
  margin:0,0,20px,0;
}

.login-icons {
  display: flex;
  justify-content: center;
  align-Items: center;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
}

.login-form h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #333;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.login-input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

.login-input:focus {
  border-color: #667EEA;
}

.login-btn {
  background-color: #667EEA;
  color: white;
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #5a6fd6;
  box-shadow: 0 4px 12px rgba(102, 126, 234, 0.4);
  transform: translateY(-2px);
}

.login-icons svg{
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.login-icons svg:hover{
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .login-form {
    width: 90%; 
    max-width: 350px;
    padding: 20px;
  }

  .login-title {
    font-size: 1.5rem; 
  }
}