.navbar{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    width: auto;
}

.nav-logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img{
    height: 30px;
    width: auto;
}

.navbar-menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding:0;
    gap: 20px;
}

.navbar-menu a{
color: white;
text-decoration: none;
font-weight: bold;
}