.navbar{
    background-color: #A1BC98;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-logo{
    width: auto;
}

.nav-logo a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo-img{
    height: 30px;
    width: auto;
}

.navbar-menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding:0;
    gap: 20px;
}

.navbar-menu a{
color: white;
text-decoration: none;
font-weight: bold;
}

.navbar-toggle {
    display: none; 
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .navbar-toggle {
        display: block;
    }

    .navbar-menu {
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
            background-color: #D2DCB6;
;

        text-align: center;
        padding: 20px 0;
        z-index: 10;
    }

    .navbar-menu.active {
        display: block;
    }

    .navbar-menu ul {
        flex-direction: column;
        gap: 20px;
    }

    .navbar-menu a {
        display: block;
        width: 100%;
    }
}