/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&display=swap');
* {
  box-sizing: border-box; /* 박스 크기 계산 편하게 */
}

body {
  font-family: "Momo Trust Sans", sans-serif;
  margin: 0;              /* 기본 여백 제거 (필수!) */
  padding: 0;
  
}